.jumbotron{
	background-color: black;
	color: white;
	margin-top: 50px;
}

.btn{
	background-color: lightgray;
    color: black;
}

.footer{
	padding: 10px 10px 0 10px;
	bakground-color: yellow;
	margin-button: 0px;
	margin-top: 10px;
}

.card-warp{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-info{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}