$black: #000000;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $black;
	color: white;
	@include margenes(50px, 0px);
}

.btn{
	background-color: lightgray;
    color: $black;
}

.footer{
	padding: 10px 10px 0 10px;
	bakground-color: $black;
	@include margenes(10px, 0px);
}

.card-warp{
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-info{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}