.jumbotron {
  background-color: #000000;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn {
  background-color: lightgray;
  color: #000000;
}
.footer {
  padding: 10px 10px 0 10px;
  bakground-color: #000000;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-warp {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-info {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
